:root{
    --bluebeel :#A491D2; 
    --soap :#CDC3E6;
    --palelavander: #D4DCFF;
    --white :#fff;
    --platinum :#E8EBE4;
    --gray :#BEC1BB;
    --DARKJUNGLE:#1B1F21;
    --outerspace: #444749;
    --oldsilver: #828485;
    --fuenteprimaria:"Open Sans", sans-serif;
    --fuenteroboto:  "Roboto", sans-serif;
    --larga: 45px;
    --mediana: 16px;
    --pequeña: 14px;
    --Expequeña: 10px;

    
   
}

html {
    box-sizing: border-box;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

ul {
    text-decoration: none;
}
ul li {
    list-style: none;
}


/* main */

.container{
    display: flex;
    max-width: 100%;

}
.container-chat{
    flex-direction: column;
    background-color: var(--white);
    flex-basis: 20%;
    
}

.container-logotipo{
    
    
    background-color: var(--platinum);
    flex-grow: 1;
  
}
.logotipo{
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.logotipo img{

    width: 250px;
    height: 250px;
    border-radius: 10px;
}


.chat{
    display: flex;
    border: solid 1px var(--gray);
    
    
    
}
 .chat img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px;

     }
     .chat-boton{
        display: flex;
        border: solid 1px var(--gray);
        justify-content: center;
        padding : 40px 0;
        
    

     }

.boton{
    background-color: var(--bluebeel);
    color: var(--white);
    font-family: var(--fuenteroboto);
    font-size: var(--mediana);
    padding: 15px 45px;
}